.advantages {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 94px;
  }

  .title {
    margin-top: 0;
    margin-bottom: 10px;

    color: var(--title-text-color);
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }
  .text {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}
.advantages__item {
  &::before {
    margin-bottom: 30px;
    display: block;
    content: "";
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--bgc-button-secondary);
  }

  @media screen and (max-width: 767px) {
    &:not(:first-child) {
      margin-top: 30px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: calc((100% - 30px) / 2);
    &:nth-child(odd) {
      margin-right: 30px;
    }
    &:not(:nth-child(-n + 2)) {
      margin-top: 30px;
    }
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
.icon-antenna::before {
  background-image: url(../images/antenna.png);
}
.icon-clock::before {
  background-image: url(../images/clock.png);
}
.icon-diagram::before {
  background-image: url(../images/diagram.png);
}
.icon-astronaut::before {
  background-image: url(../images/astronaut.png);
}
