.clients-list {
  display: flex;

  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
  }
}
.clients {
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  @media screen and (max-width: 1199px) {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
.clients-list__item {
  display: flex;

  @media screen and (max-width: 767px) {
    width: calc((100% - 30px) / 2);
    &:nth-child(2n) {
      margin-left: 30px;
    }
    &:not(:nth-child(-n + 2)) {
      margin-top: 30px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: calc((100% - 60px) / 3);
    &:not(:nth-child(3n)) {
      margin-right: 30px;
    }
    &:not(:nth-child(-n + 3)) {
      margin-top: 30px;
    }
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 120px) / 6);
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.clients-link {
  display: block;
  display: flex;
  width: 210px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  fill: var(--clients-link-color);

  @media screen and (min-width: 768px) {
    width: 226px;
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
  }
  &:hover,
  &:focus {
    border-color: var(--accent-text-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .clients-icon {
      fill: var(--accent-text-color);
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}
