.form-container {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (max-width: 767px) {
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 95px;
  }
}
.footer-form {
  @media screen and (min-width: 768px) {
    display: block;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: flex-end;
  }
}
.footer-form__subs {
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
  }
}

.footer-form__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
.footer-form__mail {
  margin-top: 20px;
  padding-top: 15px;
  padding-right: 16px;
  padding-bottom: 15px;
  padding-left: 16px;
  color: var(--primary-white-color);

  width: 358px;
  @media screen and (max-width: 767px) {
    width: 100%;
    margin-bottom: 20px;
  }
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}
.footer-form__button {
  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
  }
  margin-left: 12px;
  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-left: 29px;

  display: flex;
  align-items: center;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-text-color);
  cursor: pointer;

  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.form-button__icon {
  fill: var(--primary-white-color);

  @media screen and (min-width: 1200px) {
    margin-left: 10px;
  }
}
