.hero {
  background-color: var(--bgc-hero-footer);
  text-align: center;

  margin-top: 0;
  margin-bottom: 94px;

  & {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/fon-copy.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  padding-top: 200px;

  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  padding-bottom: 200px;
}
