.hero {
  background-color: var(--bgc-hero-footer);
  text-align: center;
  padding: 0;

  margin-top: 0;
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 94px;
  }

  & {
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(/images/fon-copy_mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(/images/fon-copy_mobile@2x.jpg);
    }

    @media screen and (min-width: 481px) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(/images/fon-copy_tablet.jpg);
      background-size: cover;

      @media (min-resolution: 2dppx) {
        background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url(/images/fon-copy_tablet@2x.jpg);

        background-size: cover;
      }
    }
    @media screen and (min-width: 1200px) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(/images/fon-copy.jpg);

      background-size: cover;

      @media (min-resolution: 2dppx) {
        background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url(/images/fon-copy@2x.jpg);

        background-size: cover;
      }
    }
  }
}

.hero-title {
  margin: 0;
  padding-top: 118px;
  padding-bottom: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--primary-white-color);

  @media screen and (min-width: 1200px) {
    margin-bottom: 30px;
    padding-top: 200px;

    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}
.hero-button {
  padding-bottom: 118px;

  @media screen and (min-width: 1200px) {
    padding-bottom: 200px;
  }
}
