.modal-content {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 40px;
}
.title-modal {
  margin-top: 40px;
  margin-bottom: 12px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.modal-content-label {
  position: relative;
  display: block;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;

  letter-spacing: 0.01em;
  color: var(--primary-text-color);

  &:nth-child(n + 3) {
    margin-top: 10px;
  }
}
.modal-content-input {
  display: block;
  cursor: pointer;

  margin-top: 4px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  width: 100%;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    border: 1px solid var(--accent-text-color);
  }
  &:focus ~ .modal-content-icon,
  &:hover ~ .modal-content-icon {
    fill: var(--accent-text-color);
  }
  &.coments {
    padding-left: 16px;
    height: 120px;
  }
  &.coments::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
}
.modal-content-icon {
  position: absolute;
  top: 50%;
  left: 12px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);

  &:checked + .icon-check {
    border-color: transparent;
    background-color: var(--accent-text-color);
    background-image: url(../images/check.svg);

    background-repeat: no-repeat;
    background-size: contain;
    background-origin: border-box;
    background-position: center;
  }
}
.lable-check {
  display: block;
  display: flex;
  align-items: center;

  margin-top: 20px;
  padding-left: 10px;
  margin-right: 10px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;

  letter-spacing: 0.03em;
  cursor: pointer;
  @media screen and(max-width:767px) {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
}
.icon-check {
  display: inline-block;

  width: 15px;
  height: 15px;
  border-radius: 2px;
  margin-right: 7px;
  border: 2px solid black;
}

.license-accept {
  margin-left: 7px;
  color: var(--accent-text-color);
}
.modal-content-button {
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 55px 10px 56px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;

  color: var(--primary-white-color);
  background-color: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: var(--accent-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
}
