.site-contacts {
  @media screen and (max-width: 767px) {
    text-align: center;
    padding-bottom: 60px;
    .item:not(:last-child) {
      margin-bottom: 16px;
    }
  }
  @media screen and (min-width: 768px) {
    margin-left: 84px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    margin-left: auto;

    .item + .item {
      margin-left: 30px;
    }
  }

  .link {
    color: var(--primary-text-color);

    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
  }
}
.envelope-item {
  @media screen and (min-width: 768px) {
    margin-bottom: 10px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}
.envelope-link {
  display: flex;
  align-items: center;

  &:hover,
  &:focus {
    color: var(--accent-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .envelope-icon {
      fill: var(--accent-text-color);
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}
.envelope-icon {
  margin-right: 10px;
  fill: var(--primary-text-color);
}

.smartphone-link {
  display: flex;
  align-items: center;

  &:hover,
  &:focus {
    color: var(--accent-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .smartphone-icon {
      fill: var(--accent-text-color);
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}
.smartphone-icon {
  margin-right: 10px;
  fill: var(--primary-text-color);
}
