:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --primary-white-color: #ffffff;
  --bgc-button-secondary: #f5f4fa;
  --bgc-hero-footer: #2f303a;
  --bgc-team: #f5f4fa;
  --pc-icon-color: #afb1b8;
  --clients-link-color: #afb1b8;
}
